h1{
  text-align: center;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  
  background-color: red;
  color: white;
  border: none;
  text-align: center;
  
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-weight: bolder;
}

.card{
background-color: red;
color: whitesmoke;
font-size: 1.5rem;
text-align: center;
margin: 5rem 10rem;
padding: 5rem 2rem;
border-radius: 10px;
}

@media  (max-width: 768px) {
 .card{
  margin: 1rem;
  margin-top: 3rem;
  font-size: 1.3rem;
 } 
}